<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="12" android:versionName="12.0" package="com.HEMA.UltimaRatio" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:label="HEMA counter" android:icon="@mipmap/icon_foreground"></application>
</manifest>